:root {
  --main-font-color:#1e1e1ee6;
  --secondary-font-color: whitesmoke;
  --main-notation-font-color: #cdcccc;
  --main-notation-background-color: #1e1e1ee6;
  --main-p-color: #1e1e1ee6;
  --main-casecard-background-color: #f9f9f9;
  --main-button-color: #f3c51e;
  --main-button-hover-color: #f3a11e;
  --secondary-button-color: #d5d5d5;
  --secondary-button-hover-color: #f3a11e;
  --main-navbar-hover-color: #f3a11e;
  --main-navbar-active-color: #f3c51e;
  --main-hero-backgroundcolor: #ffffff;
  --main-modal-backgroundcolor: #171717;
  --main-infoBackground-backgroundcolor: #171717ac;


}

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-width: 100vw;
  margin:0;
  /* padding: 0em 2em 0em 2em; */
  overflow-x: hidden;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
 }



a { 
  font-size: 16px;
  color: inherit; 
  text-decoration: none; 
} 



@keyframes textGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400% 0;
  }
}



h1 {
  font-family: "Gravitas One", serif;
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  margin-bottom: 0.25em;
  color: var(--main-font-color);

  @media screen and (max-width: 1080px) {
    /* font-size: 20px; */
    } 

    @media screen and (max-width: 767px) {
      font-size: 48px;
    }
}

h2 {
  font-family: "Gravitas One", serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  margin:0;
  margin-bottom: 1em;

  @media screen and (max-width: 767px) {
    font-size: 32px;
    } 

  @media screen and (max-width: 478px) {
    font-size: 28px;
    } 

    @media screen and (max-width: 478px) {
      font-size: 24px;
      } 
}

h3 {
  /* font-family: "Gravitas One", serif; */
  font-size: 32px;
  font-weight: 200;
  font-style: normal;
  line-height: 1.1;
  margin:0;
  margin-bottom: 1em;

  @media screen and (max-width: 767px) {
    font-size: 28px;
    } 

  @media screen and (max-width: 478px) {
    font-size: 24px;
    } 

    /* @media screen and (max-width: 478px) {
      font-size: 24px;
      }  */
}


p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;

  

  @media screen and (max-width: 478px) {
    font-size: 18px;
    } 

    @media screen and (max-width: 320px) {
    font-size: 16px;
    } 

}

ul {
  padding-bottom: 4em;

  @media (max-width: 960px) {
    margin-top: 0em;
  }
  
}

li {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  margin-top: 1em;
  margin-left: -1em;
  list-style-type: none;
  list-style-position: inside;
  text-indent: -1.25em;
  
}


.bold {
  font-weight: bold;
}

.boldlarge {
  font-size: 20px;
  font-weight: 400;
}

.boldxlarge {
  font-size: 24px;
  font-weight: 400;
}